mat-form-field{
    width: 300px;
}

form{
    background: #d7d7d7;;
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgb(19 35 47 / 30%);
}